

<!DOCTYPE html>
<html lang="en" >
<head>
<script src="https://resources.crowdtwist.com/v259/widgets/javascripts/widgets-sdk.0.3.0.js"></script>
<meta property="og:title" content="Full Size Refrigerators" />
<meta property="og:description"  content="Discover Midea&#039;s line of Full Size Refrigerators, including french door, and top mount. Sleek designs look amazing in any space." />
<meta property="og:image" content="https://www.midea.com/.resources/midea-main/webresources/images/midea-logo-share.png" />
<meta property="og:type"   content="website" />
<meta property="og:url" content="https://www.midea.com/us/Refrigerators/Full-Size-Refrigerators" />

<meta name="twitter:card" content="summary" />
<meta property="twitter:title" content="Full Size Refrigerators" />
<meta property="twitter:description"  content="Discover Midea&#039;s line of Full Size Refrigerators, including french door, and top mount. Sleek designs look amazing in any space." />
<meta property="twitter:image" content="https://www.midea.com/.resources/midea-main/webresources/images/midea-logo-share.png" /><!-- BEGIN midea-main/templates/areas/htmlHeader.ftl -->

<title>Full Size Refrigerators | Midea - Make yourself at home</title>
<meta charset="UTF-8">

<meta name="description" content="Discover Midea's line of Full Size Refrigerators, including french door, and top mount. Sleek designs look amazing in any space." />
<meta name="keywords" content="">
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=2,minimum-scale=1,user-scalable=yes">

<link rel="dns-prefetch" href="https://cdnjs.midea.com">

<link rel="icon" type="image/png" sizes="32x32" href="/us/favicon.png">
<link rel="canonical" href="https://www.midea.com/us/Refrigerators/Full-Size-Refrigerators">

    
    <link rel="stylesheet" type="text/css" href="https://cdnjs.midea.com/oversea/dist/2.0/css/style_ca.min.css?t=1619528893348" media="all" />
    
    
    <link rel="stylesheet" type="text/css" href="https://cdnjs.midea.com/oversea/dist/2.0/css/hco_fonts.min.css?t=1619528893348" media="all" />
    

<link rel="preload" as="font" type="font/woff2" href="https://cdnjs.midea.com/oversea/dist/2.0/css/52135bfaf7203be6f7a88714ae48b64f.woff2" crossorigin="anonymous" />
<link rel="preload" as="font" type="font/woff2" href="https://cdnjs.midea.com/oversea/dist/2.0/css/7fa96aa06775160ee646f6d51a81dae6.woff2" crossorigin="anonymous" />
<link rel="preload" as="font" type="font/woff2" href="https://cdnjs.midea.com/oversea/dist/2.0/css/d23d96aefe768329255e9b9988359bd9.woff2" crossorigin="anonymous" />





<!-- END midea-main/templates/areas/htmlHeader.ftl -->
        <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-78837217-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-78837217-1');
</script>
        <script>
            if(!window.currentLanguage){
                window.currentLanguage = "en_US";
            }
            if(!window.currentSite){
                window.currentSite = "us"
            }
        </script>
</head>
<body class="
             
             hasStage
             ">
        <script type="text/javascript">
var utag_data = {
      "country_code"       : "us",
      "language_code"      : "en",
      "link_action"        : "",
      "link_category"      : "",
      "link_name"          : "",
      "page_name"          : "full size refrigerators",
      "product_category"   : "refrigerators",
      "product_subcategory" : "full size refrigerators",
      "tealium_event"      : ""};
</script>
<!-- Loading script asynchronously -->
<script type="text/javascript">
    (function(a,b,c,d){
    a='https://tags.tiqcdn.com/utag/midea/main/prod/utag.js';
    b=document;c='script';d=b.createElement(c);d.src=a;d.type='text/java'+c;d.async=true;
    a=b.getElementsByTagName(c)[0];a.parentNode.insertBefore(d,a);
    })();
</script>

<div class="wrapper">

    <header class="header">
<!-- BEGIN midea-main/templates/areas/header.ftl -->



<div class="container-large">
    <strong class="logo">
        <a href="/us/">
            <img width="100" height="40" src="https://www.midea.com/dam/jcr:7afb7a8d-73c4-4014-a70a-ac55f777ee1e/logo.svg" alt="">
        </a>
    </strong>
    <nav class="main-nav">
        <ul class="categories">
            <li>
    

    <a
            href="/us/Laundry"
            target="_self"
            
            
            
    >
            Laundry
    </a>
            </li>
            <li>
    

    <a
            href="/us/Refrigerators"
            target="_self"
            
            
            
    >
            Refrigerators
    </a>
            </li>
            <li>
    

    <a
            href="/us/Air-Conditioners"
            target="_self"
            
            
            
    >
            Air Conditioners
    </a>
            </li>
            <li>
    

    <a
            href="/us/Dishwashers"
            target="_self"
            
            
            
    >
            Dishwashers
    </a>
            </li>
            <li>
    

    <a
            href="/us/Ranges"
            target="_self"
            
            
            
    >
            Ranges
    </a>
            </li>
            <li>
    

    <a
            href="/us/Microwaves"
            target="_self"
            
            
            
    >
            Microwaves
    </a>
            </li>
            <li>
    

    <a
            href="/us/Arctic-King"
            target="_self"
            
            
            
    >
            Arctic King
    </a>
            </li>
            <li>
    

    <a
            href="/us/Commercial-Kitchen"
            target="_self"
            
            
            
    >
            Commercial
    </a>
            </li>
        </ul>
        <div class="additional-info">


<!-- BEGIN midea-main/templates/areas/navigation.ftl -->

<ul>
    <li>
<a
            class=""
            href="/us/about-midea"
>
    About Midea
</a>
    </li>
    <li>
<a
            class=""
            href="/us/support"
>
    Support
</a>
    </li>
</ul>

<!-- END midea-main/templates/areas/navigation.ftl -->

            <form class="head-search" action="/us/Search">
                <div class="form-group">
                    <input name="search" type="text" placeholder="Search on midea.com">
                </div>
                <button type="submit" aria-label="Search on midea.com">
                    <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 15 15">
                        <path fill="#fff"
                              d="M6.321 11.375a5.067 5.067 0 0 1-5.066-5.059 5.07 5.07 0 0 1 5.066-5.06 5.072 5.072 0 0 1 5.067 5.06c0 2.79-2.275 5.059-5.067 5.059zm8.495 2.56l-3.606-3.606A6.323 6.323 0 0 0 6.321 0a6.321 6.321 0 1 0 4.005 11.213l3.606 3.603a.625.625 0 0 0 .884-.881z"/>
                    </svg>
                </button>
            </form>
            <a class="search-link">
                <div class="search-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15">
                        <path fill="#fff"
                              d="M6.321 11.375a5.067 5.067 0 0 1-5.066-5.059 5.07 5.07 0 0 1 5.066-5.06 5.072 5.072 0 0 1 5.067 5.06c0 2.79-2.275 5.059-5.067 5.059zm8.495 2.56l-3.606-3.606A6.323 6.323 0 0 0 6.321 0a6.321 6.321 0 1 0 4.005 11.213l3.606 3.603a.625.625 0 0 0 .884-.881z"/>
                    </svg>
                </div>

                <div class="close"></div>
            </a>

            <a href="#" class="current-lang">
                <div class="icon" style="background-image: url('/us/.resources/midea-theme/images/flags/usa.png')"></div>
                <span>United States</span>
            </a>




        </div>
    </nav>
    <div class="burger">
        inner
    </div>
</div>


<div class="language-popup">
    <div class="cross"></div>
    <div class="mainland">
            <div class="name">Global</div>
            <div class="countries">
    

    <a
            href="http://www.midea.com/global/"
            target="_self"
            class="country"
            
            
    >
                                <div class="flag" style="background-image: url('/.imaging/default/dam/us/countries/global.png/jcr:content.png')"></div>
                            <span>Global Midea</span>
    </a>
             </div>
    </div>
    <div class="mainland">
            <div class="name">North & South America</div>
            <div class="countries">
    

    <a
            href="https://www.midea.com.ar/"
            target="_self"
            class="country"
            
            
    >
                                <div class="flag" style="background-image: url('/.imaging/default/dam/us/countries/arg.png/jcr:content.png')"></div>
                            <span>Argentina / Español</span>
    </a>
    

    <a
            href="http://www.midea.com/br/"
            target="_self"
            class="country"
            
            
    >
                                <div class="flag" style="background-image: url('/.imaging/default/dam/us/countries/brasil.png/jcr:content.png')"></div>
                            <span>Brazil / Português</span>
    </a>
    

    <a
            href="https://www.midea.com/cl/"
            target="_self"
            class="country"
            
            
    >
                                <div class="flag" style="background-image: url('/.imaging/default/dam/us/countries/chile.png/jcr:content.png')"></div>
                            <span>Chile / Español</span>
    </a>
    

    <a
            href="https://www.midea.com/mx/"
            target="_self"
            class="country"
            
            
    >
                                <div class="flag" style="background-image: url('/.imaging/default/dam/us/countries/mexico.png/jcr:content.png')"></div>
                            <span>Mexico / Español</span>
    </a>
    

    <a
            href="https://www.midea.com/us/"
            target="_self"
            class="country"
            
            
    >
                                <div class="flag" style="background-image: url('/.imaging/default/dam/us/countries/usa.png/jcr:content.png')"></div>
                            <span>USA / English</span>
    </a>
    

    <a
            href="https://www.midea.com/ca/"
            target="_self"
            class="country"
            
            
    >
                                <div class="flag" style="background-image: url('/.imaging/default/dam/us/countries/canada.png/jcr:content.png')"></div>
                            <span>Canada / English</span>
    </a>
    

    <a
            href="https://www.midea.com/ca/fr"
            target="_self"
            class="country"
            
            
    >
                                <div class="flag" style="background-image: url('/.imaging/default/dam/us/countries/canada.png/jcr:content.png')"></div>
                            <span>Canada / Français</span>
    </a>
             </div>
    </div>
    <div class="mainland">
            <div class="name">Europe & Middle East</div>
            <div class="countries">
    

    <a
            href="https://www.miraco.com.eg/"
            target="_self"
            class="country"
            
            
    >
                                <div class="flag" style="background-image: url('/.imaging/default/dam/us/countries/egypt.png/jcr:content.png')"></div>
                            <span>Egypt / العَرَبِية</span>
    </a>
    

    <a
            href="https://www.midea.com/de/"
            target="_self"
            class="country"
            
            
    >
                                <div class="flag" style="background-image: url('/.imaging/default/dam/us/countries/germany.png/jcr:content.png')"></div>
                            <span>Germany / Deutsch</span>
    </a>
    

    <a
            href="https://www.midea.com/it/"
            target="_self"
            class="country"
            
            
    >
                                <div class="flag" style="background-image: url('/.imaging/default/dam/us/countries/italy.png/jcr:content.png')"></div>
                            <span>Italy / Italiano</span>
    </a>
    

    <a
            href="https://www.midea.com/ru/"
            target="_self"
            class="country"
            
            
    >
                                <div class="flag" style="background-image: url('/.imaging/default/dam/us/countries/russia.png/jcr:content.png')"></div>
                            <span>Russia / Русский</span>
    </a>
    

    <a
            href="http://www.midea.com/es/"
            target="_self"
            class="country"
            
            
    >
                                <div class="flag" style="background-image: url('/.imaging/default/dam/us/countries/spain.png/jcr:content.png')"></div>
                            <span>Spain / Español</span>
    </a>
    

    <a
            href="https://www.midea.com/gulf/"
            target="_self"
            class="country"
            
            
    >
                                <div class="flag" style="background-image: url('/.imaging/default/dam/us/countries/uae.png/jcr:content.png')"></div>
                            <span>UAE / English</span>
    </a>
    

    <a
            href="https://www.mideauk.co.uk/"
            target="_self"
            class="country"
            
            
    >
                                <div class="flag" style="background-image: url('/.imaging/default/dam/us/countries/england.png/jcr:content.png')"></div>
                            <span>UK / English</span>
    </a>
             </div>
    </div>
    <div class="mainland">
            <div class="name">Asia Pacific</div>
            <div class="countries">
    

    <a
            href="http://www.midea.com/cn/"
            target="_self"
            class="country"
            
            
    >
                                <div class="flag" style="background-image: url('/.imaging/default/dam/us/countries/china.png/jcr:content.png')"></div>
                            <span>China / 中文</span>
    </a>
    

    <a
            href="https://www.midea.com/id/"
            target="_self"
            class="country"
            
            
    >
                                <div class="flag" style="background-image: url('/.imaging/default/dam/us/countries/indonesia.png/jcr:content.png')"></div>
                            <span>Indonesia / Bahasa Indonesia</span>
    </a>
    

    <a
            href="https://www.midea.com/in/"
            target="_self"
            class="country"
            
            
    >
                                <div class="flag" style="background-image: url('/.imaging/default/dam/us/countries/india.png/jcr:content.png')"></div>
                            <span>India / English</span>
    </a>
    

    <a
            href="https://www.midea.com/my/"
            target="_self"
            class="country"
            
            
    >
                                <div class="flag" style="background-image: url('/.imaging/default/dam/us/countries/malaysia.png/jcr:content.png')"></div>
                            <span>Malaysia / English</span>
    </a>
    

    <a
            href="https://www.midea.com/ph/"
            target="_self"
            class="country"
            
            
    >
                                <div class="flag" style="background-image: url('/.imaging/default/dam/us/countries/phillippines.png/jcr:content.png')"></div>
                            <span>Philippines / English</span>
    </a>
    

    <a
            href="http://www.midea.com/sg/"
            target="_self"
            class="country"
            
            
    >
                                <div class="flag" style="background-image: url('/.imaging/default/dam/us/countries/singapore.png/jcr:content.png')"></div>
                            <span>Singapore / English</span>
    </a>
    

    <a
            href="https://www.midea.com/th/"
            target="_self"
            class="country"
            
            
    >
                                <div class="flag" style="background-image: url('/.imaging/default/dam/us/countries/thailand.png/jcr:content.png')"></div>
                            <span>Thailand / ภาษา ไทย</span>
    </a>
    

    <a
            href="https://www.midea.com/vn/"
            target="_self"
            class="country"
            
            
    >
                                <div class="flag" style="background-image: url('/.imaging/default/dam/us/countries/vietnam.png/jcr:content.png')"></div>
                            <span>Vietnam / Tiếng Việt</span>
    </a>
    

    <a
            href="https://www.mideahk.com/"
            target="_self"
            class="country"
            
            
    >
                                <div class="flag" style="background-image: url('/.imaging/default/dam/us/countries/hongkong.png/jcr:content.png')"></div>
                            <span>China-Hongkong / 廣東話</span>
    </a>
    

    <a
            href="http://www.midea.net.au/"
            target="_self"
            class="country"
            
            
    >
                                <div class="flag" style="background-image: url('/.imaging/default/dam/us/countries/australian-flag.jpg/jcr:content.jpg')"></div>
                            <span>Australia / English</span>
    </a>
             </div>
    </div>
    <div class="mainland">
            <div class="name">Africa</div>
            <div class="countries">
    

    <a
            href="http://www.mideasouthafrica.com/"
            target="_self"
            class="country"
            
            
    >
                                <div class="flag" style="background-image: url('/.imaging/default/dam/us/countries/southAfrica-flag.png/jcr:content.png')"></div>
                            <span>South Africa / English</span>
    </a>
    

    <a
            href="https://www.midea.com/westafrica/"
            target="_self"
            class="country"
            
            
    >
                            <span>West Africa / English</span>
    </a>
             </div>
    </div>
</div>






<nav class="additional-nav">
    <strong class="logo">
        <a href="/us/">
            <img width="100" height="40" src="/dam/jcr:7afb7a8d-73c4-4014-a70a-ac55f777ee1e/logo.svg" alt="">
        </a>
    </strong>
    <ul class="categories">
            <li>
    

    <a
            href="/us/Laundry"
            target="_self"
            
            
            
    >
                    <div class="icons-holder">
                                <div class="icon" style="background-image: url('/.imaging/default/dam/us/GlobalNav-Category-Icons/laundry.png/jcr:content.png')"></div>
                                        <div class="icon-hover" style="background-image: url('/.imaging/default/dam/us/GlobalNav-Category-Icons/laundryH.png/jcr:content.png')"></div>
                    </div>
                    <span>Laundry</span>
    </a>
            </li>
            <li>
    

    <a
            href="/us/Refrigerators"
            target="_self"
            
            
            
    >
                    <div class="icons-holder">
                                <div class="icon" style="background-image: url('/.imaging/default/dam/us/GlobalNav-Category-Icons/refrigerators.png/jcr:content.png')"></div>
                                        <div class="icon-hover" style="background-image: url('/.imaging/default/dam/us/GlobalNav-Category-Icons/GlobalNav-Category-Icons/Open-Fridge.png/jcr:content.png')"></div>
                    </div>
                    <span>Refrigerators</span>
    </a>
            </li>
            <li>
    

    <a
            href="/us/Air-Conditioners"
            target="_self"
            
            
            
    >
                    <div class="icons-holder">
                                <div class="icon" style="background-image: url('/.imaging/default/dam/us/GlobalNav-Category-Icons/room.png/jcr:content.png')"></div>
                                        <div class="icon-hover" style="background-image: url('/.imaging/default/dam/us/GlobalNav-Category-Icons/roomH.png/jcr:content.png')"></div>
                    </div>
                    <span>Air Conditioners</span>
    </a>
            </li>
            <li>
    

    <a
            href="/us/Dishwashers"
            target="_self"
            
            
            
    >
                    <div class="icons-holder">
                                <div class="icon" style="background-image: url('/.imaging/default/dam/us/GlobalNav-Category-Icons/dishwashers.png/jcr:content.png')"></div>
                                        <div class="icon-hover" style="background-image: url('/.imaging/default/dam/us/GlobalNav-Category-Icons/dishwashersH.png/jcr:content.png')"></div>
                    </div>
                    <span>Dishwashers</span>
    </a>
            </li>
            <li>
    

    <a
            href="/us/Ranges"
            target="_self"
            
            
            
    >
                    <div class="icons-holder">
                                <div class="icon" style="background-image: url('/.imaging/default/dam/us/GlobalNav-Category-Icons/Oven_Close.png/jcr:content.png')"></div>
                                        <div class="icon-hover" style="background-image: url('/.imaging/default/dam/us/GlobalNav-Category-Icons/Oven_Open.png/jcr:content.png')"></div>
                    </div>
                    <span>Ranges</span>
    </a>
            </li>
            <li>
    

    <a
            href="/us/Microwaves"
            target="_self"
            
            
            
    >
                    <div class="icons-holder">
                                <div class="icon" style="background-image: url('/.imaging/default/dam/us/GlobalNav-Category-Icons/Micro_Closed.png/jcr:content.png')"></div>
                                        <div class="icon-hover" style="background-image: url('/.imaging/default/dam/us/GlobalNav-Category-Icons/Micro_Open.png/jcr:content.png')"></div>
                    </div>
                    <span>Microwaves</span>
    </a>
            </li>
            <li>
    

    <a
            href="/us/Arctic-King"
            target="_self"
            
            
            
    >
                    <div class="icons-holder">
                                <div class="icon" style="background-image: url('/.imaging/default/dam/us/GlobalNav-Category-Icons/artic.png/jcr:content.png')"></div>
                                        <div class="icon-hover" style="background-image: url('/.imaging/default/dam/us/GlobalNav-Category-Icons/articH.png/jcr:content.png')"></div>
                    </div>
                    <span>Arctic King</span>
    </a>
            </li>
            <li>
    

    <a
            href="/us/Commercial-Kitchen"
            target="_self"
            
            
            
    >
                    <div class="icons-holder">
                                <div class="icon" style="background-image: url('/.imaging/default/dam/us/GlobalNav-Category-Icons/commercial-microwave.png/jcr:content.png')"></div>
                                        <div class="icon-hover" style="background-image: url('/.imaging/default/dam/us/GlobalNav-Category-Icons/commercial-microwaveH.png/jcr:content.png')"></div>
                    </div>
                    <span>Commercial</span>
    </a>
            </li>
    </ul>
    <div class="nav-btn nav-prev"></div>
    <div class="nav-btn nav-next"></div>
</nav>


<!-- END midea-main/templates/areas/header.ftl -->

    </header>

    <main class="main">


    <div class="breadcrumbs" vocab="http://schema.org/" typeof="BreadcrumbList">
        <span property="itemListElement" typeof="ListItem">
            <a
                    property="item"
                    typeof="WebPage"
                    title="US Midea"
                    href="/us/"
                    class="home"
                    target="_self"
                    
            >
                <span property="name">US Midea</span>
            </a>
            <meta property="position" content="0"/>
        </span>
                <span class="delimiter">»</span>
        <span property="itemListElement" typeof="ListItem">
            <a
                    property="item"
                    typeof="WebPage"
                    title="Refrigerators"
                    href="/us/Refrigerators"
                    class="taxonomy category"
                    target="_self"
                    
            >
                <span property="name">Refrigerators</span>
            </a>
            <meta property="position" content="1"/>
        </span>
                <span class="delimiter">»</span>
        <span property="itemListElement" typeof="ListItem">
            <a
                    property="item"
                    typeof="WebPage"
                    title="Full Size Refrigerators"
                    href="/us/Refrigerators/Full-Size-Refrigerators"
                    class="taxonomy category"
                    target="_self"
                    
            >
                <span property="name">Full Size Refrigerators</span>
            </a>
            <meta property="position" content="2"/>
        </span>
    </div>


<!-- BEGIN midea-main/templates/areas/stage.ftl -->

    <div class="intro-slider ">
    

    <div class="banner text-section
        banner-style-
        banner-style--
        
        
        text-left
        center
        banner-mobile-middle
        
        black-text
        
        
        "
    >
        <div class="content-holder"
             data-mobilebg="https://www.midea.com/dam/jcr:a0d330be-cdb5-4283-ac08-fc3eec7c3073/Refrigerator%20Banner%20-%20Holiday.jpg"
             data-tabletbg="https://www.midea.com/dam/jcr:a0d330be-cdb5-4283-ac08-fc3eec7c3073/Refrigerator%20Banner%20-%20Holiday.jpg"
             data-desktopbg="https://www.midea.com/dam/jcr:a0d330be-cdb5-4283-ac08-fc3eec7c3073/Refrigerator%20Banner%20-%20Holiday.jpg">
            <div class="container">
                <div class="text-holder">
                    <div class="content-holder-text">
                        <h1 style="margin-left: 0in; margin-right: 0in;"><span style="color:#00b0f0">Full-Size Refrigerators</span></h1>

<p style="margin-left: 0in; margin-right: 0in;"><span style="color:#ffffff;"><strong>Whether you&rsquo;re entertaining or staying in with the family, our full-size refrigerators offer all the space and features you need to keep your favorite foods fresh and easily accessible.</strong></span></p>

                        <div class="content-holder-btn">
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="banner-content">
            <div class="content-holder-text">
                <h1 style="margin-left: 0in; margin-right: 0in;"><span style="color:#00b0f0">Full-Size Refrigerators</span></h1>

<p style="margin-left: 0in; margin-right: 0in;"><span style="color:#ffffff;"><strong>Whether you&rsquo;re entertaining or staying in with the family, our full-size refrigerators offer all the space and features you need to keep your favorite foods fresh and easily accessible.</strong></span></p>

                <div class="content-holder-btn">
                </div>
            </div>
        </div>
    </div>



    </div>
<!-- END midea-main/templates/areas/stage.ftl -->
<!-- Crowdtwist Start -->
<div class="ct-widget" data-widget-id="14280" data-src="https://ascent7-widgets.crowdtwist.com/widgets/t/account-overview/14280"></div>
<div class="ct-widget" data-widget-id="13126" data-src="https://ascent7-widgets.crowdtwist.com/widgets/t/account-overview/13126"></div>
<h2 style="background-color:#00b0f0;color:white">
Earn Midea Loyalty Rewards
</h2>
<div class="ct-widget" data-widget-id="14584" data-src="https://ascent7-widgets.crowdtwist.com/widgets/t/activity-list/14584"></div>
<div class="ct-widget" data-widget-id="14710" data-src="https://ascent7-widgets.crowdtwist.com/widgets/t/activity-list/14710"></div>
<h2 style="background-color:#00b0f0;color:white">
Use Midea Loyalty Rewards
</h2>
<div class="ct-widget" data-widget-id="14692" data-src="https://ascent7-widgets.crowdtwist.com/widgets/t/reward-list/14692"></div>
<h2 style="background-color:#00b0f0;color:white">
Create your Midea Loyalty Rewards group to share points
</h2>
<div class="ct-widget" data-widget-id="18458" data-src="https://ascent7-widgets.crowdtwist.com/widgets/t/point-sharing-group/18458"></div>
<td>
                        <div role="header" aria-level="2" class="collapsible" style="background-color: rgb(0, 176, 240);">
                                <text id="header-text" font-family="AvenirLTStd-Heavy,Arial,Helvetica,sans-serif;" class="ct-header-text-color ng-binding" align="center" style="color: rgb(255, 255, 255);">&nbsp;&nbsp  CLICK TO VIEW YOUR MIDEA REWARDS HISTORY</h6>
                        </div>
                </td>
<div class="ct-widget" data-widget-id="14554" data-src="https://ascent7-widgets.crowdtwist.com/widgets/t/activity-history/14554"></div>
  <script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}
</script> 
<!-- Crowdtwist End -->



    <section class="text-section help-info">
        <div class="container-small">
            <ul>
                <li>

    <img src="/dam/jcr:5a1302ce-a165-45b6-9107-14875538645a/register-product.svg" alt="">

<div class="h4">Register a Product</div>

<p>Get the most out of your product by taking a minute to register.</p>

    

    <a
            href="/us/support/Product-registration"
            target="_self"
            
            
            
    >
        Register Your Product  <span class="arrow-icon"></span>
    </a>

                </li>
                <li>

    <img src="/dam/jcr:7b5ea90e-c3fb-467a-94ca-d547df329103/support.svg" alt="">

<div class="h4">Customer Support</div>

<p>Do you have questions about your Midea product? Midea Customer Service is here to help!</p>

    

    <a
            href="/us/support"
            target="_self"
            
            
            
    >
        Get Help  <span class="arrow-icon"></span>
    </a>

                </li>
                <li>

    <img src="/dam/jcr:26d05d06-cb58-4480-ba99-67cb127c9a80/FAQ.svg" alt="">

<div class="h4">FAQ</div>

<p>Find answers about product setup, use and care, and repair.</p>

    

    <a
            href="/us/support/FAQ"
            target="_self"
            
            
            
    >
        Find an Answer  <span class="arrow-icon"></span>
    </a>

                </li>
            </ul>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 730 792"><defs><path id="i15aa" d="M615.72 3584.8c0 24.97 3.7 50.56 9.24 74.9-24.02-48.06-36.96-100.49-36.96-154.17C588 3310.16 751.86 3151 953.3 3151c155.85 0 295.08 97.37 344.97 239.68-68.37-104.23-186.03-168.52-312.32-168.52-203.9 0-370.23 162.28-370.23 362.02zm676.99-62.63c.86-24.9-1.97-50.54-6.69-75 22.46 48.76 33.64 101.5 31.78 155.01-6.76 194.78-176.82 347.69-379.1 340.58-156.52-5.5-292.95-107.49-338.14-251.13 65.06 106.33 181 174.58 307.8 179.04 204.77 7.2 377.41-148.74 384.32-347.88z"/></defs><g><g opacity=".05" transform="translate(-588 -3151)"><use fill="#00b0f0" xlink:href="#i15aa"/></g></g></svg>
    </section>

        

    </main>

<!-- BEGIN midea-main/templates/areas/footer.ftl -->
<footer class="footer">
    <div class="container">
        <div class="holder">

            <ul class="accordion">
        <li class="item">

<div class="switch">Products</div>


<ul class="content-hidden">
        <li>
    

    <a
            href="/us/Air-Conditioners"
            target="_self"
            
            
            
    >
                Air Conditioners
    </a>
        </li>
        <li>
    

    <a
            href="/us/Laundry"
            target="_self"
            
            
            
    >
                Laundry
    </a>
        </li>
        <li>
    

    <a
            href="/us/Refrigerators"
            target="_self"
            
            
            
    >
                Refrigerators
    </a>
        </li>
        <li>
    

    <a
            href="/us/Dishwashers/Built-In"
            target="_self"
            
            
            
    >
                Dishwashers
    </a>
        </li>
</ul>


    </li>
    <li class="item">

<div class="switch">Help &amp; Support</div>


<ul class="content-hidden">
        <li>
    

    <a
            href="/us/support"
            target="_self"
            
            
            
    >
                Customer Support
    </a>
        </li>
        <li>
    

    <a
            href="/us/support/FAQ"
            target="_self"
            
            
            
    >
                FAQ
    </a>
        </li>
        <li>
    

    <a
            href="/us/support"
            target="_self"
            
            
            
    >
                Contact Us
    </a>
        </li>
        <li>
    

    <a
            href="/us/support/Product-registration"
            target="_self"
            
            
            
    >
                Product Registration
    </a>
        </li>
        <li>
    

    <a
            href="/us/support/Product-Recall-Updates"
            target="_self"
            
            
            
    >
                Product Recalls Information
    </a>
        </li>
</ul>


    </li>
    <li class="item">

<div class="switch">About</div>


<ul class="content-hidden">
        <li>
    

    <a
            href="/us/about-midea"
            target="_self"
            
            
            
    >
                About Midea
    </a>
        </li>
        <li>
    

    <a
            href="http://www.midea.com/global/investors/kuka/"
            target="_blank"
            
            rel=" noopener noreferrer"
            
    >
                Investor Relations
    </a>
        </li>
</ul>


    </li>
</ul>

            <div class="connect">


<div class="socials">
    <p>Connect with us</p>
    <ul class="social-links">
        <li>
    

    <a
            href="https://www.instagram.com/mideaamerica/"
            target="_blank"
            class="social-link instagram"
            rel="nofollow noopener noreferrer"
            aria-label="Share via Instagram" 
    >
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 22">
                    <linearGradient id="igradient" gradientUnits="userSpaceOnUse" x1="-466.261" y1="488.045" x2="-464.678"
                                    y2="490.183" gradientTransform="matrix(22 0 0 -22 10248 10776)">
                        <stop offset="0" stop-color="#f9ed32"/>
                        <stop offset="1" stop-color="#ee2a7b"/>
                    </linearGradient>
                    <mask id="inst-icon-mask" maskUnits="userSpaceOnUse" x="0" y="0" width="512" height="512">
                        <path d="M15.1 0C18.9 0 22 3.1 22 6.9v8.2c0 3.8-3.1 6.9-6.9 6.9H6.9C3.1 22 0 18.9 0 15.1V6.9C0 3.1 3.1 0 6.9 0h8.2zm-3.9 5.6c-3.1 0-5.6 2.5-5.6 5.6s2.5 5.6 5.6 5.6 5.6-2.5 5.6-5.6-2.5-5.6-5.6-5.6zm0 9.1c-1.9 0-3.5-1.6-3.5-3.5s1.6-3.5 3.5-3.5 3.5 1.6 3.5 3.5-1.6 3.5-3.5 3.5zM16.8 6c.4 0 .8-.4.8-.8s-.4-.8-.8-.8-.8.4-.8.8.4.8.8.8z"
                              fill="#fff"/>
                    </mask>
                    <g mask="url(#inst-icon-mask)">
                        <rect x="0" y="0" width="29" height="29" fill="white"/>
                        <rect id="inst-gradient" x="0" y="0" width="29" height="29" fill="url(#igradient)"/>
                    </g>
                </svg>
    </a>
        </li>
        <li>
    

    <a
            href="https://www.facebook.com/MideaAmerica/"
            target="_blank"
            class="social-link facebook"
            rel="nofollow noopener noreferrer"
            aria-label="Share via Facebook" 
    >
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 11.8 21.8">
                    <path d="M11.3 0H8.5C5.3 0 3.3 2.1 3.3 5.4v2.5H.4c-.2-.1-.4.1-.4.4v3.6c0 .2.2.4.4.4h2.8v9c0 .2.2.4.4.4h3.7c.2 0 .4-.2.4-.4v-9H11c.2 0 .4-.2.4-.4V8.3c0-.1 0-.2-.1-.3-.1-.1-.2-.1-.3-.1H7.9V5.7c0-1 .2-1.5 1.6-1.5h1.9c.2 0 .4-.2.4-.4V.4c0-.2-.2-.4-.5-.4z"
                    />
                </svg>
    </a>
        </li>
        <li>
    

    <a
            href="https://twitter.com/mideaamerica"
            target="_blank"
            class="social-link twitter"
            rel="nofollow noopener noreferrer"
            aria-label="Share via Twitter" 
    >
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 22">
                    <path d="M9.7 22c-1.1 0-2.3-.1-3.4-.3-2.1-.3-4.1-1.4-4.7-1.8L0 19.1l1.7-.6c1.8-.6 2.9-1 4.3-1.6-1.4-.7-2.5-1.9-3-3.5l-.4-1.2H3c-.3-.3-.5-.6-.7-.9-.7-1-1-2.3-.9-3.4l.1-1.1.5.3c-.3-.5-.5-1.1-.6-1.6-.3-1.4 0-2.9.6-4.1l.5-1 .7.9c2.3 2.8 5.1 4.5 8.5 5-.1-1 0-2 .3-2.8.4-1 1.1-1.8 2.1-2.5 1.1-.7 2.3-1 3.6-.9 1.3.1 2.6.6 3.5 1.5.5-.1.8-.3 1.3-.4.3-.1.6-.2 1-.4L25 .3l-1 2.9h.2l1.8-.3-.9 1.3c-.1.1-.1.2-.1.2-.1.1-.2.3-1.5 2-.3.4-.5 1-.5 1.6.1 2.3-.2 4.4-.8 6.2-.6 1.7-1.6 3.2-2.9 4.4-1.6 1.5-3.6 2.5-6 3-1 .3-2.3.4-3.6.4z"
                    />
                </svg>
    </a>
        </li>
        <li>
    

    <a
            href="https://www.youtube.com/MideaAmerica"
            target="_blank"
            class="social-link youtube"
            rel="nofollow noopener noreferrer"
            aria-label="Share via Youtube" 
    >
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29.5 20">
                    <path d="M28.2 1.9C27.4.5 26.5.2 24.8.1 23 0 18.6 0 14.7 0c-3.8 0-8.2 0-10 .2-1.8.1-2.6.3-3.5 1.7C.4 3.3 0 5.7 0 10c0 4.2.4 6.7 1.2 8.1.8 1.4 1.7 1.7 3.4 1.8 1.8.1 6.2.2 10.1.2 3.8 0 8.3-.1 10.1-.2 1.8-.1 2.6-.4 3.4-1.8.8-1.4 1.3-3.8 1.3-8.1s-.4-6.7-1.3-8.1zM11.1 15.5v-11l9.2 5.5-9.2 5.5z"
                    />
                </svg>
    </a>
        </li>

    </ul>
</div>

<div class="subscribe " >
        <p>Subscribe to our newsletter to get the latest news and product announcements.</p>
    <form action="https://midea.us20.list-manage.com/subscribe/post?u=48be0266d1f9eab725f480bbc&amp;id=61fe6c08c6" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div class="form-group">
            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Your E-mail" required>

                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_48be0266d1f9eab725f480bbc_61fe6c08c6" tabindex="-1" value=""></div>

        </div>
        <button class="white" type="submit" value="Subscribe" name="subscribe" >Subscribe</button>
    </form>
</div>

            </div>
        </div>
    </div>


<div class="copyright">
    <div class="container">
        <span>Copyright 2021 Copyright Midea. All rights reserved.</span>
        <div class="info-page">

    

    <a
            href="/us/terms-of-use"
            target="_self"
            
            
            
    >
    Terms of Use
    </a>

    

    <a
            href="/us/privacy-policy"
            target="_blank"
            
            rel=" noopener noreferrer"
            
    >
    Privacy Policy
    </a>
        </div>
    </div>
</div>

</footer>
<!-- END midea-main/templates/areas/footer.ftl -->
<script type="text/javascript" src="https://cdnjs.midea.com/oversea/dist/2.0/js/template-web.js?2"></script>

<script id="data-tpl" type="text/html">
    {{set yesText = tplData.yesText}}
    {{set noText = tplData.noText}}
    <div class="ct-container-wrap">
        <div class="ct-container">
            <a href="javascript:;" class="ct-close"></a>
            <div class="ct-container-header">
                <div class="ct-title">{{tplData.privacyTitle}}</div>
                <div class="ct-desc">{{tplData.privacyDesc}}</div>    
            </div>
            <div class="ct-container-content">
                <div class="ct-all-select">
                    <div class="ct-all-title">{{tplData.selectAllTitle}}</div>
                    <div class="ct-box-checkbox {{tplData.allSelected?'active':''}} {{tplData.someSelected?'someSelected':''}}" data-type="all"></div>
                </div>
                {{each tplData.cookiesData item}}
                    {{if item.children.length>0}}
                    <div class="ct-box {{item.isShow?'show':''}}">
                        <div class="ct-box-title">
                            <div class="ct-category-title" data-id="{{item.id}}">{{item.name}}</div>
                            {{if item.description}}
                            <div class="ct-open-btn">                              
                                <div class="ct-open-more-info">
                                    <div class="ct-tips">{{item.description}}</div>   
                                </div>                         
                            </div>
                            {{/if}}   
                            <div class="ct-box-checkbox 
                                {{item.id=='essentialId'?'essentialCheckbox active':''}} 
                                {{item.groupSelected?'active':''}} 
                                {{item.groupSomeSelected?'someSelected':''}}"
                                data-id="{{item.id}}" 
                                data-num="{{item.children.length}}" 
                                data-type="group">
                            </div>
                        </div>
                        <div class="ct-box-list">
                            {{each item.children citem}}
                                <div class="ct-box-item">
                                    <div class="ct-consent-content">
                                        <div class="ct-consent-title">{{citem.cookieName}}</div>
                                        <div class="ct-open-btn">
                                            <div class="ct-open-history"></div>
                                            {{if citem.description}}
                                            <div class="ct-open-more-info">
                                                <div class="ct-tips">{{citem.description}}</div>   
                                            </div>
                                            {{/if}}   
                                        </div>
                                        <div class="ct-box-checkbox 
                                            {{citem.selected?'active':''}}
                                            {{item.id=='essentialId'?'essentialCheckbox active':''}}" 
                                            data-id="{{item.id}}" 
                                            data-key="{{citem.key}}" 
                                            data-num="1" 
                                            data-type="single">
                                        </div>
                                    </div>
                                    <div class="ct-consent-timeline">
                                        <ul class="{{citem.historyList.length == 1?'ct-consent-timeline-single':''}}">
                                            {{each citem.historyList hitem}}
                                            <li class="{{hitem.status?'':'ct-no'}}">
                                                <span class="ct-time">{{hitem.date}}</span>
                                                <span class="ct-status">
                                                {{hitem.status?yesText:noText}}
                                                </span>
                                            </li>
                                            {{/each}}
                                        </ul>
                                    </div>
                                </div>
                            {{/each}}
                        </div>
                    </div>
                    {{/if}}
                {{/each}}
            </div>
            <div class="ct-container-footer">
                <div class="ct-save-button">{{tplData.privacyBtnName}}</div>
            </div>
        </div>    
    </div>
</script>


<script>
        if(!window.__currentLanguage){
            window.__currentLanguage = "en_US";
        }
        if(!window.__currentSite){
            window.__currentSite = "us"
        }
    window.__privacyFieldsValue = {
        yesText: "yes",
        noText: "no",
        privacyTitle: "Privacy settings",
        privacyDesc: "",
        selectAllTitle: "Select all",
        privacyBtnName: "SAVE SETTINGS",
        essentialGroupName: "Essential",
        essentialTagName: "Technically necessary cookies",
        essentialGroupDesc: "",
        essentialDesc: "",
    };
        window.__tagGroupList = [];
        console.log(__tagGroupList)

</script>


</div>
    <script type="application/x-javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="application/x-javascript" src="https://cdnjs.cloudflare.com/ajax/libs/plyr/3.5.6/plyr.polyfilled.min.js"></script>
    <script type="application/x-javascript" src="https://source.midea.com/oversea/third-party/jquery.pagination.js"></script>
    <script type="application/x-javascript" src="https://cdnjs.midea.com/oversea/dist/2.0/js/global.min.js?t=1619528893348"></script>
    <script type="application/x-javascript" src="https://cdnjs.midea.com/oversea/dist/2.0/js/global_v2.0.js?t=1619528893348"></script>
    <script type="application/x-javascript" src="https://cdn.jsdelivr.net/npm/lodash@4.17.11/lodash.min.js"></script>
    <script type="application/x-javascript" src="https://cdnjs.midea.com/oversea/dist/2.0/js/cookie.min.js?t=1619528893348"></script>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
<script type="text/javascript" src="https://cdnjs.midea.com/oversea/dist/2.0/js/categoryScriptArea.js?t=1619528893348"></script>

</body>
</html>
